<html>
  <head>
    <title>ADD CATEGORY</title>
  </head>
  <body>
    <h1>ADD CATEGORY</h1>
    <form action='addcategory' method="POST">
      Name <input type='text' name='catename'>
      <input type='submit' value='ADD NEW'>
    </form>
  </body>
</html>